*{
    margin: 0;
}
body{
    
}
img{
    max-width: 100%;

}
.banner{
    max-width: 50%;
    padding: 30px;

}
.contant{
    max-width: 50%;
}
.supportsection{
    background: #ef10850d;

}
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 50px 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
}
.content h6{
    font-size: 20px;

}
.content h2{
    margin-bottom: 10px;
    font-size: 37px;
    font-weight: 700;
    line-height: 1.0;
    text-transform: capitalize;
}
.content p {
    font-size: 18px

}
.content a {
    padding: 8px 5px;
    background: #d97926a8;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    color: #3227dc;
    text-transform: capitalize;
    border-radius: 8px;
}
.amazingservicesection{}
.service{
    max-width: 33.33%;
    padding: 15px;
    /* background: antiquewhite; */
}
.service div{
    background: #ef10850d;
    padding: 21px 10px;
    border-radius: 7px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service img{
    
width: 55px;
    
margin-bottom: 24px;
    
/* margin: auto; */
}
.service h2{}
.service p{
    font-size: 17px;
}
.aboutUs{
    background: #3862a933;*{
    margin: 0;
}
body{
    
}
img{
    max-width: 100%;

}
.banner{
    max-width: 50%;
    padding: 30px;

}
.contant{
    max-width: 50%;
}
.supportsection{
    background: #b1b12d59;

}
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 50px 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
}
.content h6{
    font-size: 20px;

}
.content h2{
    margin-bottom: 10px;
    font-size: 37px;
    font-weight: 700;
    line-height: 1.0;
    text-transform: capitalize;
}
.content p {
    font-size: 18px

}
.content a {
    padding: 8px 5px;
    background: #ef10850d;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    color: #3227dc;
    text-transform: capitalize;
    border-radius: 8px;
}
.amazingservicesection{}
.service{
    max-width: 33.33%;
    padding: 15px;
    /* background: antiquewhite; */
}
.service div{
    background: #ef10850d;
    padding: 21px 10px;
    border-radius: 7px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service img{
    
width: 55px;
    
margin-bottom: 24px;
    
/* margin: auto; */
}
.service h2{}
.service p{
    font-size: 17px;
}
.aboutUs{
    background: #3862a933;